#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


body {
    background-color: rgb(26, 24, 24);   
}

h1, h2 {
    margin: 0;
}

.container {
    flex: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.button-container {
    margin: 16px;
}

button {
    font-size: 20px;
    margin: 0 5px;
    padding: 5px;
}